@font-face {
  font-family: "Comic Sans Custom";
  src: url("./fonts/ComicRelief-Bold.ttf") format("truetype");
}

body {
  font-family: "Comic Sans Custom", cursive;
}

h1 {
  color: green;
  text-decoration: underline;
}

p {
  font-size: small;
}