@font-face {
  font-family: "Comic Sans Custom";
  src: url("../fonts/ComicRelief-Bold.ttf") format("truetype");
}

body {
  font-family: "Comic Sans Custom", cursive;
  background-color: black;
  color: white;
}

nav {
  background: rgba(0, 162, 198, 0.12);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(120, 255, 255, 0.3);
  padding: 15px 30px;
  box-shadow: 0 2px 15px rgba(0, 255, 255, 0.15);
  border-radius: 10px;
}

nav a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(120, 255, 255);
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 200, 255, 0.5);
  transform: scale(1.05);
}

h1 {
  color: green;
  text-decoration: underline;
}

h2 {
  color: rgb(120, 255, 255);
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.6), 0 0 10px rgba(0, 200, 255, 0.4);
  letter-spacing: 2px;
}

h3 {
  color: rgb(255, 120, 120);
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.6), 0 0 10px rgba(255, 89, 0, 0.4);
  letter-spacing: 2px;
}

p {
  text-align: justify;
}

footer {
  padding: 20px;
  color: white;
  background: linear-gradient(90deg,#062d36,#0b4f63,#00a2c6);
  border-top: 2px solid rgba(120, 255, 255, 0.4);
  box-shadow: 0 -2px 15px rgba(0, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  background: rgba(0, 162, 198, 0.2);
}

footer p {
  text-align: center;
}